beautifulsoup4
requests
youtube-dl
selenium
pyttsx3
flask
flask-wtf
flask-sqlalchemy
flask-bcrypt
flask-login
flask-mail
flask-restful
matplotlib
pandas
qrcode[PIL]
markdown
colorama
progress
clipboard
PyPDF2
fake-useragent
virtualenv
pyfiglet
