beautifulsoup4
requests
youtube-dl
selenium
pyttsx3
pygame
flask
flask-wtf
flask-sqlalchemy
flask-bcrypt
flask-login
flask-mail
flask-ask
flask-restful
matplotlib
pandas
qrcode[PIL]
markdown
colorama
SpeechRecognition
pyaudio
progress
clipboard
PyPDF2
fake-useragent
virtualenv
